{% extends 'index.html'%}
{% import 'macros.html' as macro%}

{% block space %} {{ super() }}
<div class="home">
    <div class="container">
        <div class="card-body">
            <div>

                <div class="form-div col-12 p-5">
                    <form method="POST" action="/genres">
                        <h2 class="my-3">Select favorite genres.</h2>
                        <div class="row p-4">
                        {% for genre in genres %}
                        <div class="form-check col-lg-4">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="fav_genres"
                                    value="{{ genre['id']}}">
                                {{ genre['name'] }}
                            </label>
                        </div>
                        {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-outline-primary my-3" id="genresSubmit">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}